<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiNb87CQFyQAj-h-Mhv9B_DgTnjHjMtAU</string>
	<key>GCM_SENDER_ID</key>
	<string>166548810448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>3be5631a-4e6e-43a6-b092-f589b34f5be4</string>
	<key>PROJECT_ID</key>
	<string>miecar</string>
	<key>STORAGE_BUCKET</key>
	<string>miecar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166548810448:ios:e6e852acffd1c6a28c8cd5</string>
</dict>
</plist>